body{
    background-color: gray;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        width: 800px;
        p{
            color: rgb(5, 49, 108);
            font-weight: bold;
            padding-bottom: 20px;
            span{
                border-bottom: 1px solid;
                font-size: 20px;
                padding-left: 5px;
                padding-right: 5px ;
            }
        }
    }
}

.cars{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 50px;
    margin-bottom: 50px;
}
.car,.winner{
    width: 100px;
    height: 100px;
    img{
        width: 100px;
        aspect-ratio: 1/1;
        
    }
}

.winner{
    transition: 1s all ease-in-out;
}
